<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Home - Interes-TING</title>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">


<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Welcome customer!</span><span
  class="site-heading-lower" style="color: black">Interes-TING</span></h1>
<nav class="navbar navbar-light navbar-expand-lg bg-dark py-lg-4" id="mainNav">
  <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded">InteresTING</a>
    <button data-toggle="collapse" type="button" data-target="#navbarResponsive" class="navbar-toggler"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div
      class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/capacity">Capacity view</a></li>
        <li class="nav-item" *ngIf="isUserMode && loggedIn"><a class="nav-link" routerLink="/calendar">Customer
          Calendar</a></li>
        <li class="nav-item" *ngIf="!isUserMode && !loggedIn"><a class="nav-link" routerLink="/calendar">Admin
          Calendar</a></li>
        <li class="nav-item" *ngIf="isUserMode && loggedIn"><a class="nav-link" routerLink="/qr_access">Customer QR
          code</a></li>
        <li class="nav-item" *ngIf="!isUserMode && !loggedIn"><a class="nav-link" routerLink="/qr_access">Admin QR
          code</a></li>
        <li class="nav-item" *ngIf="!isUserMode"><a class="nav-link" routerLink="/admin">Room Checking</a></li>
        <li class="nav-item" *ngIf="!loggedIn"><a class="nav-link"
                                                  routerLink="/auth">{{isUserMode ? 'Login' : 'User Register'}}</a></li>
        <li class="nav-item" *ngIf="loggedIn"><a class="nav-link" routerLink="" (click)="onLogoutSync()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

