<main class="page contact-page">
  <section class="portfolio-block contact">
    <div class="container">
      <div class="heading">
        <br>
        <h2>Register customer</h2>
      </div>
      <form>
        <div class="form-group"><label for="room">Room</label><input class="form-control item" type="number" id="room"></div>
        <div class="form-group"><label for="room">DNI</label><input class="form-control item" type="text" id="dni"></div>
        <div class="form-group"><label for="date1">Entry date</label><input class="form-control item" type="date" id="date1"></div>
        <div class="form-group"><label for="date1">Departure date</label><input class="form-control item" type="date" id="date2"></div>
        <div class="form-group">
          <label for="breakfast">Breakfast</label>
          <select class="form-control item" id="breakfast">
            <option>7:00-8:00</option>
            <option>8:15-9:15</option>
            <option>9:30-10:30</option>
          </select>
        </div>
        <div class="form-group">
          <label for="lunch">Lunch</label>
          <select class="form-control item" id="lunch">
            <option>12:00-13:00</option>
            <option>13:15-14:15</option>
            <option>14:30-15:30</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dinner">Dinner</label>
          <select class="form-control item" id="dinner">
            <option>18:45-19:45</option>
            <option>20:00-21:00</option>
            <option>21:15-22:15</option>
          </select>
        </div>
        <div class="form-group"><label for="access">Access code</label><input class="form-control item" type="text" id="access"></div>
        <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">Submit Form</button></div>
      </form>
    </div>
  </section>
</main>
