<!--SignUp Form-->
<section class="portfolio-block contact">
  <div class="container">
    <div class="heading">
      <br>
      <h2>Register customer</h2>
    </div>
    <form [formGroup]="signUpGroup" (ngSubmit)="onSubmit()">
      <div class="form-group"><label for="roomNumber">Room</label><input
        class="form-control item"
        type="number"
        id="roomNumber"
        placeholder="Room number"
        formControlName="roomNumber">
        <span *ngIf="!signUpGroup.get('roomNumber').valid && signUpGroup.get('roomNumber').touched"
              class="help-block"> Please enter a number between 1 and 150!</span>

      </div>
      <div class="form-group"><label for="password">Secret password</label><input
        class="form-control item"
        type="text"
        id="password"
        placeholder="Password"
        formControlName="password"
        [(ngModel)]="myPassword">
        <span *ngIf="!signUpGroup.get('password').valid && signUpGroup.get('password').touched"
              class="help-block"> Please enter a correct 8 length password!</span>
      </div>
      <div class="form-group"><label for="arrivalDate">Arrival date</label><input
        class="form-control item"
        type="date"
        id="arrivalDate"
        formControlName="arrivalDate">
      </div>
      <div class="form-group"><label for="departureDate">Departure date</label><input
        class="form-control item"
        type="date"
        id="departureDate"
        formControlName="departureDate">
      </div>
      <div class="form-group">
        <label for="breakfastTime">Breakfast</label>
        <select
          class="form-control item"
          id="breakfastTime"
          formControlName="breakfastTime">
          <option>7:00-8:00</option>
          <option>8:15-9:15</option>
          <option>9:30-10:30</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lunchTime">Lunch</label>
        <select
          class="form-control item"
          id="lunchTime"
          formControlName="lunchTime">
          <option>12:00-13:00</option>
          <option>13:15-14:15</option>
          <option>14:30-15:30</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dinnerTime">Dinner</label>
        <select
          class="form-control item"
          id="dinnerTime"
          formControlName="dinnerTime">
          <option>18:45-19:45</option>
          <option>20:00-21:00</option>
          <option>21:15-22:15</option>
        </select>
      </div>
      <div class="form-group"><label for="qrCode">Access code</label><input
        class="form-control item"
        type="text"
        id="qrCode"
        placeholder="Access code"
        formControlName="qrCode"
        [(ngModel)]="myMacAddress">
        <span *ngIf="!signUpGroup.get('qrCode').valid && signUpGroup.get('qrCode').touched"
              class="help-block"> Please enter a valid 16 digit Mac!</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!signUpGroup.valid">Register customer</button>
      </div>
    </form>
  </div>
</section>
