<!--SignUp Form-->
<section class="portfolio-block contact">
  <div class="container">
    <div class="heading">
      <br>
      <h2>Register customer</h2>
    </div>
    <form [formGroup]="signUpGroup" (ngSubmit)="onSubmit()">
      <div class="form-group"><label for="room">Room</label><input
        class="form-control item"
        type="number"
        id="room"
        placeholder="Room number"
        formControlName="room">
        <span *ngIf="!signUpGroup.get('room').valid && signUpGroup.get('room').touched"
              class="help-block"> Please enter a number between 1 and 100!</span>

      </div>
      <div class="form-group"><label for="password">Secret password</label><input
        class="form-control item"
        type="text"
        id="password"
        placeholder="Password"
        formControlName="password"
        [(ngModel)]="myPassword">
        <span *ngIf="!signUpGroup.get('password').valid && signUpGroup.get('password').touched"
              class="help-block"> Please enter a correct 8 length password!</span>
      </div>
      <!--div class="form-group"><label for="dni">DNI</label><input class="form-control item" type="text" id="dni"></div-->
      <div class="form-group"><label for="arrival">Arrival date</label><input
        class="form-control item"
        type="date"
        id="arrival"
        formControlName="arrival">
        <span *ngIf="!signUpGroup.get('arrival').valid && signUpGroup.get('arrival').touched"
              class="help-block"> Please select one option!</span>
      </div>
      <div class="form-group"><label for="departure">Departure date</label><input
        class="form-control item"
        type="date"
        id="departure"
        formControlName="departure">
        <span *ngIf="!signUpGroup.get('departure').valid && signUpGroup.get('departure').touched"
              class="help-block"> Please select one option!</span>
      </div>
      <div class="form-group">
        <label for="breakfast">Breakfast</label>
        <select
          class="form-control item"
          id="breakfast"
          formControlName="breakfast">
            <span *ngIf="!signUpGroup.get('breakfast').valid && signUpGroup.get('breakfast').touched"
                  class="help-block"> Please select one option!</span>
          <option>7:00-8:00</option>
          <option>8:15-9:15</option>
          <option>9:30-10:30</option>
        </select>
      </div>
      <div class="form-group">
        <label for="lunch">Lunch</label>
        <select
          class="form-control item"
          id="lunch"
          formControlName="lunch">
              <span *ngIf="!signUpGroup.get('lunch').valid && signUpGroup.get('lunch').touched"
                    class="help-block"> Please select one option!</span>
          <option>12:00-13:00</option>
          <option>13:15-14:15</option>
          <option>14:30-15:30</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dinner">Dinner</label>
        <select
          class="form-control item"
          id="dinner"
          formControlName="dinner">
            <span *ngIf="!signUpGroup.get('dinner').valid && signUpGroup.get('dinner').touched"
                  class="help-block"> Please select one option!</span>
          <option>18:45-19:45</option>
          <option>20:00-21:00</option>
          <option>21:15-22:15</option>
        </select>
      </div>
      <div class="form-group"><label for="access">Access code</label><input
        class="form-control item"
        type="text"
        id="access"
        placeholder="Access code"
        formControlName="access"
        [(ngModel)]="myMacAddress">
        <span *ngIf="!signUpGroup.get('access').valid && signUpGroup.get('access').touched"
              class="help-block"> Please enter a valid 16 digit Mac!</span>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!signUpGroup.valid">Register customer</button>
      </div>
    </form>
  </div>
</section>
