<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex mr-auto bg-faded rounded">

          <div class="row row-cols row-cols-md-2">
            <div class="col mb-4">
              <div class="card">
                <img src="assets/img/pool.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pool's current population: {{poolCapacity.currentNumber}} people</p>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="assets/img/gym.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Gym's current population: {{gymCapacity.currentNumber}} people</p>

                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <img src="assets/img/billar.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Game room current population: {{gameRoomCapacity.currentNumber}} people</p>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

