<div *ngIf="!isLoading && isUserMode && loggedIn">
  <br><br><br>
  <app-spinner></app-spinner>
</div>

<section class="page-section cta" style="background: #ff4b4b">
  <div class="container">

    <!--Admin mode begin-->
    <div *ngIf="!isUserMode && !loggedIn">
      <form [formGroup]="adminForm" (ngSubmit)="onSearchCalendar()">
        <input
          class="form-control"
          type="number"
          name="roomNumber"
          placeholder="Search for a room Calendar"
          formControlName="roomNumber">
        <span *ngIf="!adminForm.get('roomNumber').valid && adminForm.get('roomNumber').touched"
              class="help-block"> Please enter a number between 1 and 150!</span>
      </form>
      <br>
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5"><span class="section-heading-upper">This is your Admin Calendar of Room number {{adminRoomNumber}}</span><br><span
              class="section-heading-lower">{{getDate()}}</span></h2>
            <ul class="list-unstyled mx-auto list-hours mb-5 text-left">
              <li class="d-flex list-unstyled-item list-hours-item">Breakfast<span
                class="ml-auto">{{adminCalendar[0]}}</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Lunch<span
                class="ml-auto">{{adminCalendar[1]}}</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Dinner<span
                class="ml-auto">{{adminCalendar[2]}}</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Other activities<span class="ml-auto">Future implementations!</span>
              </li>
            </ul>
            <p class="address mb-5"><em><strong>Calle León y Castillo</strong><span><br>Las Palmas</span></em></p>
            <p class="address mb-0"><em><em>Call Anytime</em></em><span><br>(+34) 666-666-666</span></p>
          </div>
        </div>
      </div>
    </div>
    <!--Admin mode End-->


    <!--User mode begin-->
    <div *ngIf="isUserMode && loggedIn">
      <div class="row" *ngIf="isUserMode && loggedIn && isLoading">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5"><span
              class="section-heading-upper">This is your personal Calendar</span><br><span
              class="section-heading-lower">{{getDate()}}</span></h2>
            <ul class="list-unstyled mx-auto list-hours mb-5 text-left">
              <li class="d-flex list-unstyled-item list-hours-item">Breakfast<span
                class="ml-auto">{{userRoomObj.breakfastTime}}</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Lunch<span
                class="ml-auto">{{userRoomObj.lunchTime}}</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Dinner<span
                class="ml-auto">{{userRoomObj.dinnerTime}}</span></li>
              <li class="d-flex list-unstyled-item list-hours-item">Other activities<span class="ml-auto"> Consult to admin </span>
              </li>
            </ul>
            <p class="address mb-5"><em><strong>Calle León y Castillo</strong><span><br>Las Palmas</span></em></p>
            <p class="address mb-0"><em><em>Call Anytime</em></em><span><br>(+34) 666-666-666</span></p>
          </div>
        </div>
      </div>
    </div>
    <!--User mode end-->

  </div>

</section>

