<section class="page-section clearfix">

  <div class="container">
    <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg">
      <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center" *ngIf="!loggedIn">
        <h2 class="section-heading mb-4"><span class="section-heading-upper">Home Page</span><span class="section-heading-lower">Welcome!</span></h2>
        <p class="mb-3">Choose your role!</p>
        <div class="mx-auto intro-button" *ngIf="userMode"><a class="btn btn-primary d-inline-block mx-auto btn-xl" type="button"
                                             (click)="onChangeMode(false)" >Go to Admin Mode</a></div>
        <div class="mx-auto intro-button"  *ngIf="!userMode"><a class="btn btn-primary d-inline-block mx-auto btn-xl" type="button"
                                             (click)="onChangeMode(true)">Go to User Mode</a></div>
      </div>

      <div *ngIf="userMode">

        <p>You are in user mode!</p>
      </div>

      <div *ngIf="!userMode">

        <p>You are in admin mode!</p>
      </div>

      <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center" *ngIf="loggedIn">
        <h2 class=" section-heading mb-4"><span class="section-heading-upper">Home Page</span><span class="section-heading-lower">Welcome Customer!</span></h2>
        <p class="mb-3">We appreciate your trust in us!</p>
        <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" type="button"
                                             (click)="onLogoutSync()">Logout</a></div>
      </div>
    </div>
  </div>

</section>
