<section class="page-section">
  <div class="container">
    <div *ngIf="!isLoading && isUserMode && loggedIn">
      <app-spinner></app-spinner>
    </div>

    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex mr-auto bg-faded p-5 rounded">

          <!--Admin mode begin-->
          <div *ngIf="!isUserMode">
            <form [formGroup]="adminForm" (ngSubmit)="onSearchQrCode()">
              <input
                class="form-control"
                type="number"
                name="roomNumber"
                placeholder="Search for a room QR code"
                formControlName="roomNumber">
              <span *ngIf="!adminForm.get('roomNumber').valid && adminForm.get('roomNumber').touched"
                    class="help-block"> Please enter a number between 1 and 150!</span>
            </form>
            <br>
            <br>
            <h2 class="section-heading mb-0"><span class="section-heading-upper">Your admin master QR code of Room number {{adminRoomNumber}}</span><span
              class="section-heading-lower">Use it wisely! </span></h2>
            <br>
            <img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
                 src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&choe=UTF-8&chl={{adminQrcode}}">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">The only thing you have to do is to bring the generated code closer to the lock of the customer's room.
                And remember, the welfare of our employees will always be the first priority!</p>
            </div>
          </div>
          <!--Admin mode end-->


          <!--User mode begin-->
          <div *ngIf="isUserMode && loggedIn">
            <div *ngIf="isUserMode && loggedIn && isLoading">
              <h2 class="section-heading mb-0"><span class="section-heading-upper">Your QR code customer!</span><span
                class="section-heading-lower">Room number {{userRoomObj.roomNumber}}</span></h2>
              <br>
              <img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
                   src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&choe=UTF-8&chl={{userRoomObj.qrCode}}">
              <div class="bg-faded p-5 rounded">
                <p class="mb-0">The only thing you need to do is to bring the generated code closer to the lock of your room.
                  And remember, the well-being of our customers will always be the first priority!</p>
                 <p class="mb-0"></p>
              </div>
            </div>
          </div>
          <!--User mode end-->


        </div>
      </div>
    </div>
  </div>

</section>

